#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
 margin-bottom: 130px;
}
 
#nav a {
 text-decoration: none;
 color: black;
}
 
#nav a:hover {
 text-decoration: underline;
}

#nav {
 margin-top: 20px;
}

/* Table css */
.btop {
	border-top: 2px solid black; }
.bright {
	border-right: 2px solid black; }
.bbottom {
	border-bottom: 2px solid black; }
.bleft {
	border-left: 2px solid black; }
	
table caption {
	text-align: left;
}

.gameTable td {
	font-family: 'Indie Flower', cursive;
}